body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106986 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:79px;
  width:110px;
  height:30px;
}
#u106986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106986_input:disabled {
  color:grayText;
}
#u106987 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:140px;
  width:110px;
  height:30px;
}
#u106987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106987_input:disabled {
  color:grayText;
}
#u106988 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:140px;
  width:110px;
  height:30px;
}
#u106988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106988_input:disabled {
  color:grayText;
}
#u106989 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:140px;
  width:110px;
  height:30px;
}
#u106989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106989_input:disabled {
  color:grayText;
}
#u106990 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:79px;
  width:110px;
  height:30px;
}
#u106990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106990_input:disabled {
  color:grayText;
}
#u106991 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:140px;
  width:108px;
  height:30px;
}
#u106991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106991_input:disabled {
  color:grayText;
}
#u106992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106992 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:75px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
}
#u106995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:70px;
}
#u106996 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:119px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u106997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u106998 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:79px;
  width:110px;
  height:30px;
}
#u106998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106998_input:disabled {
  color:grayText;
}
#u106999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:413px;
}
#u106999 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:268px;
  width:620px;
  height:413px;
}
#u107000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107001 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:79px;
  width:110px;
  height:30px;
}
#u107001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107001_input:disabled {
  color:grayText;
}
#u107002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u107002 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:132px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u107004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u107004 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:186px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u107006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u107006 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:190px;
  width:32px;
  height:32px;
}
#u107007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107008 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:179px;
  width:299px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u107008_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u107008_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107009 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:284px;
  height:42px;
}
#u107010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u107011 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:10px;
  width:32px;
  height:32px;
}
#u107012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u107013 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:10px;
  width:32px;
  height:32px;
}
#u107014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u107015 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:10px;
  width:37px;
  height:32px;
}
#u107016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u107017 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:10px;
  width:32px;
  height:32px;
}
#u107018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107019 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:14px;
  width:80px;
  height:40px;
}
#u107020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u107021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u107021 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:26px;
  width:16px;
  height:16px;
}
#u107022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107023 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:53px;
  width:136px;
  height:76px;
  overflow:hidden;
  visibility:hidden;
}
#u107023_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u107023_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u107024 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:124px;
  height:65px;
  line-height:25px;
}
#u107025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u107026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u107026 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:26px;
  width:16px;
  height:16px;
}
#u107027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
