body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1164px;
  height:813px;
}
#u7274 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:80px;
  width:1164px;
  height:813px;
}
#u7275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:1160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:804px;
}
#u7276 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:883px;
  width:1133px;
  height:804px;
}
#u7277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:798px;
}
#u7278 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:1685px;
  width:1149px;
  height:798px;
}
#u7279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:391px;
  width:1145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:819px;
}
#u7280 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:2483px;
  width:1160px;
  height:819px;
}
#u7281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:402px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7282 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:20px;
  width:100px;
  height:30px;
}
#u7283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
