body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1164px;
  height:813px;
}
#u26942 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:80px;
  width:1164px;
  height:813px;
}
#u26943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:1160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:804px;
}
#u26944 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:883px;
  width:1133px;
  height:804px;
}
#u26945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:798px;
}
#u26946 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:1685px;
  width:1149px;
  height:798px;
}
#u26947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:391px;
  width:1145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:819px;
}
#u26948 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:2483px;
  width:1160px;
  height:819px;
}
#u26949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:402px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26950 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:20px;
  width:140px;
  height:40px;
}
#u26951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u26952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u26952 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:24px;
  width:32px;
  height:32px;
}
#u26953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:54px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:54px;
}
#u26956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26957 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:15px;
  width:186px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u26959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u26959 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:35px;
  height:35px;
}
#u26960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26961 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:11px;
  width:57px;
  height:35px;
}
#u26962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26963 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:17px;
  width:24px;
  height:24px;
}
#u26964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:238px;
  height:996px;
  overflow:hidden;
}
#u26965_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:996px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26965_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u26966 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:530px;
  width:25px;
  height:25px;
}
#u26967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:2px;
}
#u26968 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:556px;
  width:123px;
  height:1px;
}
#u26969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u26970 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:530px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u26971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u26972 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:552px;
  width:29px;
  height:16px;
  color:#E4E4E4;
}
#u26973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u26974 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:580px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u26975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26976 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:552px;
  width:18px;
  height:18px;
}
#u26977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26978 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:580px;
  width:18px;
  height:18px;
}
#u26979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:900px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:900px;
}
#u26981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:442px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u26982 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:848px;
  width:32px;
  height:32px;
}
#u26983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u26984 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:118px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u26985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26986 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:219px;
  width:18px;
  height:18px;
}
#u26987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u26988 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:185px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u26989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26990 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:185px;
  width:18px;
  height:18px;
}
#u26991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u26992 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:218px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u26993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u26994 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:266px;
  width:25px;
  height:25px;
}
#u26995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u26996 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:270px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u26997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u26998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u26998 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:339px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u26999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u27000 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:307px;
  width:16px;
  height:15px;
}
#u27001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u27002 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:306px;
  width:43px;
  height:16px;
  color:#E4E4E4;
}
#u27003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u27004 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:112px;
  width:25px;
  height:25px;
}
#u27005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27006 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:339px;
  width:20px;
  height:20px;
}
#u27007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u27008 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:11px;
  width:22px;
  height:26px;
}
#u27009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27010 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:54px;
  width:30px;
  height:30px;
}
#u27011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u27012 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:64px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u27013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u27014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27014 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:147px;
  width:22px;
  height:22px;
}
#u27015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u27016 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:151px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u27017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26965_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:996px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26965_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:900px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:900px;
}
#u27019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:442px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u27020 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:845px;
  width:32px;
  height:32px;
}
#u27021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u27022 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:22px;
  height:26px;
}
#u27023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u27024 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:322px;
  width:25px;
  height:25px;
}
#u27025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u27026 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:149px;
  width:25px;
  height:25px;
}
#u27027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27028 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:91px;
  width:30px;
  height:30px;
}
#u27029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u27030 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:10px;
  width:32px;
  height:32px;
}
#u27031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
