body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106831 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:78px;
  width:110px;
  height:30px;
}
#u106831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106831_input:disabled {
  color:grayText;
}
#u106832 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:140px;
  width:110px;
  height:30px;
}
#u106832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106832_input:disabled {
  color:grayText;
}
#u106833 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:140px;
  width:110px;
  height:30px;
}
#u106833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106833_input:disabled {
  color:grayText;
}
#u106834 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:140px;
  width:110px;
  height:30px;
}
#u106834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106834_input:disabled {
  color:grayText;
}
#u106835 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:140px;
  width:108px;
  height:30px;
}
#u106835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106835_input:disabled {
  color:grayText;
}
#u106836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106836 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:75px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
}
#u106839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:70px;
}
#u106840 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:119px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u106841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u106842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:413px;
}
#u106842 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:268px;
  width:620px;
  height:413px;
}
#u106843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106844 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:79px;
  width:110px;
  height:30px;
}
#u106844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106844_input:disabled {
  color:grayText;
}
#u106845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106845 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:132px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106847 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:186px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106849 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:190px;
  width:32px;
  height:32px;
}
#u106850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106851 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:179px;
  width:299px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u106851_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u106851_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106852 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:284px;
  height:42px;
}
#u106853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106854 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:10px;
  width:32px;
  height:32px;
}
#u106855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106856 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:10px;
  width:32px;
  height:32px;
}
#u106857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u106858 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:10px;
  width:37px;
  height:32px;
}
#u106859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106860 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:10px;
  width:32px;
  height:32px;
}
#u106861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106862 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:14px;
  width:80px;
  height:40px;
}
#u106863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u106864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u106864 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:26px;
  width:16px;
  height:16px;
}
#u106865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106866 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:53px;
  width:136px;
  height:76px;
  overflow:hidden;
  visibility:hidden;
}
#u106866_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u106866_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u106867 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:124px;
  height:65px;
  line-height:25px;
}
#u106868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u106869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u106869 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:26px;
  width:16px;
  height:16px;
}
#u106870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106871 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:79px;
  width:112px;
  height:30px;
}
#u106872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u106873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u106873 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:79px;
  width:112px;
  height:30px;
  color:#666666;
}
#u106874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u106875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u106875 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:78px;
  width:112px;
  height:30px;
  color:#666666;
}
#u106876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u106877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u106877 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:79px;
  width:112px;
  height:30px;
  color:#666666;
}
#u106878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u106879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u106879 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:78px;
  width:119px;
  height:30px;
  color:#666666;
}
#u106880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
