body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106790 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:79px;
  width:110px;
  height:30px;
}
#u106790_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106790_input:disabled {
  color:grayText;
}
#u106791 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:140px;
  width:110px;
  height:30px;
}
#u106791_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106791_input:disabled {
  color:grayText;
}
#u106792 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:140px;
  width:110px;
  height:30px;
}
#u106792_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106792_input:disabled {
  color:grayText;
}
#u106793 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:140px;
  width:110px;
  height:30px;
}
#u106793_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106793_input:disabled {
  color:grayText;
}
#u106794 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:140px;
  width:108px;
  height:30px;
}
#u106794_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106794_input:disabled {
  color:grayText;
}
#u106795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106795 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:75px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
}
#u106798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:70px;
}
#u106799 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:119px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u106800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u106801 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:79px;
  width:110px;
  height:30px;
}
#u106801_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106801_input:disabled {
  color:grayText;
}
#u106802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:413px;
}
#u106802 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:268px;
  width:620px;
  height:413px;
}
#u106803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106804 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:79px;
  width:110px;
  height:30px;
}
#u106804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106804_input:disabled {
  color:grayText;
}
#u106805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106805 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:132px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106807 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:186px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106809 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:190px;
  width:32px;
  height:32px;
}
#u106810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106811 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:179px;
  width:299px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u106811_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u106811_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106812 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:284px;
  height:42px;
}
#u106813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106814 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:10px;
  width:32px;
  height:32px;
}
#u106815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106816 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:10px;
  width:32px;
  height:32px;
}
#u106817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u106818 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:10px;
  width:37px;
  height:32px;
}
#u106819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106820 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:10px;
  width:32px;
  height:32px;
}
#u106821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106822 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:14px;
  width:80px;
  height:40px;
}
#u106823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u106824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u106824 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:26px;
  width:16px;
  height:16px;
}
#u106825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106826 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:53px;
  width:136px;
  height:76px;
  overflow:hidden;
  visibility:hidden;
}
#u106826_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u106826_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u106827 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:124px;
  height:65px;
  line-height:25px;
}
#u106828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u106829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u106829 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:26px;
  width:16px;
  height:16px;
}
#u106830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
