body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u107028 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:79px;
  width:110px;
  height:30px;
}
#u107028_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107028_input:disabled {
  color:grayText;
}
#u107029 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:140px;
  width:110px;
  height:30px;
}
#u107029_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107029_input:disabled {
  color:grayText;
}
#u107030 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:140px;
  width:110px;
  height:30px;
}
#u107030_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107030_input:disabled {
  color:grayText;
}
#u107031 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:140px;
  width:110px;
  height:30px;
}
#u107031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107031_input:disabled {
  color:grayText;
}
#u107032 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:79px;
  width:110px;
  height:30px;
}
#u107032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107032_input:disabled {
  color:grayText;
}
#u107033 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:140px;
  width:108px;
  height:30px;
}
#u107033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107033_input:disabled {
  color:grayText;
}
#u107034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u107034 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:75px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u107036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
}
#u107037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:70px;
}
#u107038 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:119px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u107039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u107040 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:79px;
  width:110px;
  height:30px;
}
#u107040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107040_input:disabled {
  color:grayText;
}
#u107041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:413px;
}
#u107041 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:268px;
  width:620px;
  height:413px;
}
#u107042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107043 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:79px;
  width:110px;
  height:30px;
}
#u107043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107043_input:disabled {
  color:grayText;
}
#u107044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u107044 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:132px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u107046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u107046 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:186px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u107048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u107048 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:190px;
  width:32px;
  height:32px;
}
#u107049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107050 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:179px;
  width:299px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u107050_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u107050_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107051 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:284px;
  height:42px;
}
#u107052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u107053 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:10px;
  width:32px;
  height:32px;
}
#u107054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u107055 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:10px;
  width:32px;
  height:32px;
}
#u107056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u107057 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:10px;
  width:37px;
  height:32px;
}
#u107058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u107059 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:10px;
  width:32px;
  height:32px;
}
#u107060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107061 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:14px;
  width:80px;
  height:40px;
}
#u107062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u107063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u107063 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:26px;
  width:16px;
  height:16px;
}
#u107064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107065 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:53px;
  width:136px;
  height:76px;
  overflow:hidden;
  visibility:hidden;
}
#u107065_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u107065_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u107066 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:124px;
  height:65px;
  line-height:25px;
}
#u107067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u107068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u107068 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:26px;
  width:16px;
  height:16px;
}
#u107069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
