body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:851px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u107140 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:100px;
  width:701px;
  height:371px;
  overflow:hidden;
}
#u107140_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:371px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u107140_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107141 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:670px;
  height:310px;
}
#u107142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u107143 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u107145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u107145 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:49px;
  width:640px;
  height:1px;
}
#u107146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u107147 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:100px;
  height:40px;
}
#u107148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u107149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u107149 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:100px;
  height:40px;
}
#u107150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u107151 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:78px;
  width:190px;
  height:25px;
}
#u107151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u107152 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:72px;
  width:310px;
  height:40px;
  font-size:11px;
}
#u107153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:306px;
  word-wrap:break-word;
}
#u107154 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:130px;
  width:550px;
  height:60px;
}
#u107154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:53px;
}
#u107155 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:237px;
  width:193px;
  height:53px;
}
#u107156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u107157 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:246px;
  width:80px;
  height:41px;
}
#u107158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
