body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106944 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:79px;
  width:110px;
  height:30px;
}
#u106944_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106944_input:disabled {
  color:grayText;
}
#u106945 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:140px;
  width:110px;
  height:30px;
}
#u106945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106945_input:disabled {
  color:grayText;
}
#u106946 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:140px;
  width:110px;
  height:30px;
}
#u106946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106946_input:disabled {
  color:grayText;
}
#u106947 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:140px;
  width:110px;
  height:30px;
}
#u106947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106947_input:disabled {
  color:grayText;
}
#u106948 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:79px;
  width:110px;
  height:30px;
}
#u106948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106948_input:disabled {
  color:grayText;
}
#u106949 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:140px;
  width:108px;
  height:30px;
}
#u106949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106949_input:disabled {
  color:grayText;
}
#u106950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106950 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:75px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:54px;
}
#u106953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:70px;
}
#u106954 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:119px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u106955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u106956 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:79px;
  width:110px;
  height:30px;
}
#u106956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106956_input:disabled {
  color:grayText;
}
#u106957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:413px;
}
#u106957 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:268px;
  width:620px;
  height:413px;
}
#u106958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106959 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:79px;
  width:110px;
  height:30px;
}
#u106959_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u106959_input:disabled {
  color:grayText;
}
#u106960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106960 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:132px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
}
#u106962 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:186px;
  width:89px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u106964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106964 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:190px;
  width:32px;
  height:32px;
}
#u106965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106966 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:179px;
  width:299px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u106966_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u106966_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106967 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:284px;
  height:42px;
}
#u106968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106969 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:10px;
  width:32px;
  height:32px;
}
#u106970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106971 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:10px;
  width:32px;
  height:32px;
}
#u106972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u106973 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:10px;
  width:37px;
  height:32px;
}
#u106974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106975 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:10px;
  width:32px;
  height:32px;
}
#u106976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106977 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:14px;
  width:80px;
  height:40px;
}
#u106978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u106979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u106979 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:26px;
  width:16px;
  height:16px;
}
#u106980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106981 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:53px;
  width:136px;
  height:76px;
  overflow:hidden;
  visibility:hidden;
}
#u106981_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u106981_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u106982 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:124px;
  height:65px;
  line-height:25px;
}
#u106983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u106984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u106984 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:26px;
  width:16px;
  height:16px;
}
#u106985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
